body {
    color:lime;
}

.rosa {
    background-color: rebeccapurple;
}

.rosa {
    background-color: hotpink;
}

nav a {
    color: burlywood;
}

/* en kommentar i css */

a:hover{
    background-color: black;
}

pre {
    background-color: #ccc;
    border: 1px solid black;
    color: black;
}