body {
    color:forestgreen;
}

h1 {
    font-size: 110%;
}

.rosa {
    background-color: rebeccapurple;
}

.rosa {
    background-color: hotpink;
}

nav a {
    color: burlywood;
}

/* en kommentar i css */

a:hover{
    background-color: black;
}

pre {
    background-color: #ccc;
    border: 1px solid black;
    color: black;
}

.three-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 20px;

    background-color: blueviolet;
}

.lightgray{
    background-color: bisque;
}

#pixlar {
    color: red;
}
.procent {
    color: pink;
}

p:first-child{
    text-decoration: underline;
    text-transform: uppercase;
}

article:last-child{
    color: blue;
}