
/* Layout - grids */
main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.produkt section {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

/* Layout end */

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
}

header {
    padding: 1em;
    background-image: url(img/paprika.jpg);
    background-size: cover;
}

header a:hover{
    text-decoration: none;
}

header * {
    margin: 0;
}

header h1, 
header p {
    color: white;
}

header h1 {
    font-family: fantasy;
}

.chark {
    background-color: indianred;
}
.mejeri {
    background-color: lightgoldenrodyellow;
}
.gront {
    background-color: palegreen;
}

.produkt:hover{
    background-color: lightgray;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

footer {
    background-color: lightgray;
}

footer p {
    color: gray;
}

.produkt img {
    width: 100%;
}

.pris {
    text-align: right;
}

.extrapris .pris {
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes pulse {

    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
  }