header, footer {
    background-color: lightgray;
}

header {
    padding-left: 20px;
    background-image: url(img/paprika.jpg);
    background-size: cover;
}

header h1, 
header p {
   color: white;
}

header h1 {
    font-family: fantasy;
    margin-bottom: 0;
}
header p {
    margin-top: 0;
}

.produkt {
    min-width: 25%;
}

.chark {
    background-color: indianred;
}
.mejeri {
    background-color: lightgoldenrodyellow;
}
.gront {
    background-color: palegreen;
}

.produkt:hover{
    background-color: lightgray;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

footer p {
    color: gray;
}

/**/

.extrapris {
    position: relative;
}

.extrapris::after {
    content: '';
    position: absolute;
    top: -5px;
    right: -5px;
    background-image: url(img/star.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 80px;
    height: 80px;
}

main a {
    flex: 1;
    min-width: 200px;
}

.produkt img {
    width: 100%;
}